/* Colors */
/* Media Queries */
/* 320px ? */
/* Mixins */
/* General */
* {
  /* Breakpoints 320-767 // 768 - 1023 // 1024 - 1440 */
  /* font-family: "Shrikhand"; */
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  max-width: 1440px;
  margin: auto;
}

.btn {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 220px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Header */
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.header__logo--img {
  height: 35px;
  width: 180px;
}

.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 15px;
}

/* Explorer */
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  background-color: #eaeaea;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}
.explorer__title {
  margin: 30px 40px 15px 40px;
}
.explorer__txt {
  margin: 0px 40px 30px 40px;
}

/* Fonctionnement */
.fonctionnement {
  margin-top: 50px;
  margin-bottom: 70px;
}
.fonctionnement__title {
  margin-bottom: 30px;
  margin-left: 20px;
}

.fonctionnement__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .fonctionnement__block {
    flex-direction: row;
    justify-content: center;
  }
}

.fonctionnement__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  width: 330px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Restaurants */
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 50px;
}

.restaurants__block {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .restaurants__block {
    grid-template-columns: 370px 320px;
    gap: 50px;
  }
}

.restaurants__card {
  background-color: white;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurants__card--img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 160px; /* En pourcentage ? */
  width: 320px; /* En pourcentage ? */
}

.restaurants__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 12px;
  font-size: 14px;
}
.restaurants__txt .fa-heart {
  font-size: 22px;
}

/* Menu */
.menu--img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu__block {
  position: relative;
  bottom: 55px;
  padding-top: 32px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  max-width: 1024px;
}
@media (min-width: 1024px) {
  .menu__block {
    bottom: 30px;
    margin: auto;
  }
}
.menu__block__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}
.menu__block__title .fa-heart {
  margin-left: 58px;
  font-size: 22px;
}

.menu__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  max-width: 768px;
}
.menu__group__title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 6px;
}

.menu__card {
  font-size: 12px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
  padding: 20px 25px;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-bottom: 15px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 9px;
}

/*# sourceMappingURL=style.css.map */
