@charset "UTF-8";
/* Colors */
/* Media Queries */
/* Mixins */
/* General */
* {
  /* font-family: "Shrikhand"; */
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  color: black;
}

.btn {
  transition: all 400ms;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 220px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  transition: all 400ms;
  opacity: 0.8;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

/* Header */
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.header__logo--img {
  height: 35px;
  width: 180px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.header__menu--img {
  height: 35px;
  width: 180px;
  margin-right: 38px;
}

.fa-arrow-left {
  margin-left: 17px;
}

/* Loader */
.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  animation: loader 3200ms linear forwards;
}

.fa-wine-bottle {
  font-size: 222px;
  animation: spin 1600ms linear infinite;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  98% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Explorer */
.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  background-color: #eaeaea;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}
.explorer__title {
  margin: 30px 40px 15px 40px;
}
.explorer__txt {
  color: #353535;
  margin: 0px 40px 30px 40px;
}

/* Fonctionnement */
.fonctionnement {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  max-width: 375px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    max-width: 1024px;
  }
}
.fonctionnement__title {
  margin-bottom: 30px;
  margin-left: 27.5px;
}
@media (min-width: 1024px) {
  .fonctionnement__title {
    margin-left: 0px;
  }
}

.fonctionnement__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1024px) {
  .fonctionnement__block {
    flex-direction: row;
    justify-content: center;
  }
}

.fonctionnement__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  width: 320px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__card .fa-1 {
  position: relative;
  right: 66px;
}
.fonctionnement__card .fa-2 {
  position: relative;
  right: 80px;
}
.fonctionnement__card .fa-3 {
  position: relative;
  right: 75px;
}
.fonctionnement__card .fa-1,
.fonctionnement__card .fa-2,
.fonctionnement__card .fa-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  height: 24px;
  width: 24px;
}
.fonctionnement__card .fa-mobile-screen-button {
  position: relative;
  right: 34px;
  color: #7e7e7e;
}
.fonctionnement__card .fa-list {
  position: relative;
  right: 30px;
  margin-left: -17.5px;
  color: #7e7e7e;
}
.fonctionnement__card .fa-store {
  position: relative;
  right: 30px;
  margin-left: -15px;
  color: #7e7e7e;
}
.fonctionnement__card .fa-mobile-screen-button:hover,
.fonctionnement__card .fa-list:hover,
.fonctionnement__card .fa-store:hover {
  color: #9356dc;
}

/* Restaurants */
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  padding-top: 50px;
}

.restaurants__block {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 1024px;
}
@media (min-width: 1024px) {
  .restaurants__block {
    grid-template-columns: 487px 487px;
    gap: 50px;
  }
}

.restaurants__card {
  background-color: white;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .restaurants__card {
    width: 480px;
  }
}
.restaurants__card--img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 160px;
  width: 320px;
}
@media (min-width: 1024px) {
  .restaurants__card--img {
    width: 480px;
  }
}

.restaurants__new {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
  position: absolute;
  margin-left: 215px;
  margin-top: 15px;
  height: 30px;
  width: 90px;
}
@media (min-width: 1024px) {
  .restaurants__new {
    margin-left: 375px;
  }
}

.restaurants__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 12px;
  font-size: 14px;
}
.restaurants__txt .fa-solid {
  background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 800ms;
}
.restaurants__txt .fa-solid:hover {
  background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transition: all 800ms;
}
.restaurants__txt .fa-heart {
  cursor: pointer;
  position: absolute;
  font-size: 22px;
  margin-left: 274px;
}
@media (min-width: 1024px) {
  .restaurants__txt .fa-heart {
    margin-left: 434px;
  }
}

/* Menu */
.menu--img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu__block {
  position: relative;
  margin-top: -55px;
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  max-width: 1024px;
}
@media (min-width: 1024px) {
  .menu__block {
    margin: auto;
    margin-top: -30px;
  }
}
.menu__block__title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .menu__block__title {
    justify-content: center;
  }
}
.menu__block__title .fa-solid {
  background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 800ms;
}
.menu__block__title .fa-solid:hover {
  background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transition: all 800ms;
}
.menu__block__title .fa-heart {
  cursor: pointer;
  position: absolute;
  font-size: 22px;
  margin-left: 310px;
}

.menu__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
.menu__group__title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 6px;
}

@keyframes transition {
  0% {
    opacity: 0;
    margin-left: -185px;
    margin-right: -185px;
  }
  100% {
    opacity: 1;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  @keyframes transition {
    0% {
      opacity: 0;
      margin-left: -85px;
      margin-right: -85px;
    }
    100% {
      opacity: 1;
      margin-left: 115px;
      margin-right: 115px;
    }
  }
}
@media (min-width: 1024px) {
  @keyframes transition {
    0% {
      opacity: 0;
      margin-left: 15px;
      margin-right: 15px;
    }
    100% {
      opacity: 1;
      margin-left: 215px;
      margin-right: 215px;
    }
  }
}
.transition__entrées {
  animation: transition 800ms ease-out 1s forwards;
  opacity: 0;
}

.transition__plats {
  animation: transition 800ms ease-out 2s forwards;
  opacity: 0;
}

.transition__desserts {
  animation: transition 800ms ease-out 3s forwards;
  opacity: 0;
}

.menu__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  padding-right: 0px;
  height: 40px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.menu__card:hover .fa-circle-check {
  width: 60px;
}
.menu__card__txt {
  overflow: hidden;
}
.menu__card__txt__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card__txt__p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card__circle {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.menu__card__circle__price {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.menu__card .fa-circle-check {
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #99e2d0;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 70px;
  width: 0px;
}

.menu__btn {
  margin-top: 40px;
  margin-bottom: 0px;
  width: 180px;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
  padding: 20px 25px;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .footer__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 35px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
}
@media (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
  }
}
.footer__list--mailto {
  color: white;
  text-decoration: none;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 9px;
}

/*# sourceMappingURL=style.css.map */
