/* Footer */

.footer {
  background-color: $footer-color;
  color: white;
  padding: 20px 25px;

  &__title {
    font-family: "Shrikhand";
    font-weight: 400;
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      top: 35px;
    }
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
  }

  &--mailto {
    color: white;
    text-decoration: none;
  }
}

.fa-utensils {
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 9px;
}
