/* Header */

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;

  &--img {
    height: 35px;
    width: 180px;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  &--img {
    height: 35px;
    width: 180px;
    margin-right: 38px;
  }
}

.fa-arrow-left {
  margin-left: 17px;
}
