/* General */

* {
  /* font-family: "Shrikhand"; */
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  max-width: $wide-width;
  margin: auto;
}

a {
  color: black;
}

.btn {
  transition: all 400ms;
  background: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 220px;
  margin: auto;
  margin-bottom: 50px;
  @include shadow-box;
  &:hover {
    transition: all 400ms;
    opacity: 0.8;
    @include shadow-box-end;
  }
}
