/* Explorer */

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  background-color: $location-color;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $section-color;

  &__title {
    margin: 30px 40px 15px 40px;
  }

  &__txt {
    margin: 0px 40px 30px 40px;
  }
}

/* Fonctionnement */

.fonctionnement {
  margin-top: 50px;
  margin-bottom: 70px;

  &__title {
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

.fonctionnement__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media (min-width: $tab-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.fonctionnement__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-color;
  border-radius: 20px;
  height: 70px;
  width: 330px;
  @include shadow-box;
}

/* Restaurants */

.restaurants {
  background-color: $section-color;

  &__title {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 50px;
  }
}

.restaurants__block {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;

  @media (min-width: $tab-width) {
    grid-template-columns: 370px 320px;
    gap: 50px;
  }
}

.restaurants__card {
  background-color: white;
  border-radius: 15px;
  width: 320px;
  @include shadow-box;

  &--img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 160px; /* En pourcentage ? */
    width: 320px; /* En pourcentage ? */
  }
}

.restaurants__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 12px;
  font-size: 14px;

  .fa-heart {
    font-size: 22px;
  }
}
