/* Menu */

.menu--img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu__block {
  position: relative;
  margin-top: -55px;
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: $section-color;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  max-width: $desktop-width;

  @media (min-width: $desktop-width) {
    margin: auto;
    margin-top: -30px;
  }

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 400;
    margin-left: 20px;

    @media (min-width: $tab-width) {
      justify-content: center;
    }

    .fa-solid {
      background-image: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      opacity: 0;
      transition: all 800ms;

      &:hover {
        background-image: linear-gradient(180deg, $secondary-color 0%, $main-color 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
        transition: all 800ms;
      }
    }

    .fa-heart {
      cursor: pointer;
      position: absolute;
      font-size: 22px;
      margin-left: 310px;
    }
  }
}

.menu__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;

  &__title {
    font-size: 16px;
    font-weight: 300;
    border-bottom: solid 3px $tertiary-color;
    width: 40px;
    padding-bottom: 6px;
  }
}

@keyframes transition {
  0% {
    opacity: 0;
    margin-left: -185px;
    margin-right: -185px;
  }

  100% {
    opacity: 1;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: $tab-width) {
  @keyframes transition {
    0% {
      opacity: 0;
      margin-left: -85px;
      margin-right: -85px;
    }

    100% {
      opacity: 1;
      margin-left: 115px;
      margin-right: 115px;
    }
  }
}

@media (min-width: $desktop-width) {
  @keyframes transition {
    0% {
      opacity: 0;
      margin-left: 15px;
      margin-right: 15px;
    }

    100% {
      opacity: 1;
      margin-left: 215px;
      margin-right: 215px;
    }
  }
}

.transition__entrées {
  animation: transition 800ms ease-out 1s forwards;
  opacity: 0;
}

.transition__plats {
  animation: transition 800ms ease-out 2s forwards;
  opacity: 0;
}

.transition__desserts {
  animation: transition 800ms ease-out 3s forwards;
  opacity: 0;
}

.menu__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  padding-right: 0px;
  height: 40px;
  overflow: hidden;
  @include shadow-box;

  &:hover .fa-circle-check {
    width: 60px;
  }

  &__txt {
    overflow: hidden;

    &__title {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__p {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__circle {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  &__circle__price {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .fa-circle-check {
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: $tertiary-color;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
    width: 0px;
  }
}

.menu__btn {
  margin-top: 40px;
  margin-bottom: 0px;
  width: 180px;
}
